:root{
    --clr1: white;
    --gold: #ffcc00;
    --yellow: #ffeb3b;
    --grad0: black;
    --grad40: #241c00;
    --grad100: #332a00;
}

#main_heading{
    margin-left: 7%;
    font-size: 7.4rem;
    font-weight: 500;
}
#main_heading img{
    width:6rem;
}

.edu{
    align-items: center;
    min-width: 100vw;
    padding: 7rem 9%;
}
.edu_main{
    display: flex;
    justify-content: space-between;
}
.edu_main button{
    padding: 1rem 1rem;
    color: var(--gold);
    border: 2px solid var(--gold);
    background-color: transparent;
    border-radius: 4rem;
    letter-spacing: 0.1rem;
}
.edu h1{
    font-size: 2.5rem;
    font-weight: 500;
}
.edu H3{
    font-size: 1.8rem;
    color: var(--gold);
    font-weight: 425;
}
.edu p{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    color: var(--clr2);
    font-weight: 300;
}