:root{
    --clr1: white;
    --gold: #ffcc00;
    --yellow: #ffeb3b;
    --grad0: black;
    --grad40: #241c00;
    --grad100: #332a00;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html{
    font-size: 62.5%; /* Eqeuates to 10px, Useful when dealing with rem sizes */
}

body{
    width:100%;
    height:100vh;
    color: var(--clr1);
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(
        180deg, var(--grad0) 0%, var(--grad40) 40%, var(--grad100) 100%
    );
    color: white;
}

header{
    width: 100%;
    padding: 5rem 7%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 100;
    position: sticky;
    top:0;
}

.logo{
    color: var(--gold);
    font-size: 3.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.navigation{
    list-style-type: none;
    display: flex;
    gap: 4rem;
}

.navigation a{
    color: var(--clr1);
    font-size: 2.2rem;
    transition: 0.3s;
    font-weight: 600;
}
.navigation a:hover, .navigation a:active{
    color: var(--gold);
    border-bottom: 2px solid var(--gold);
}

.home{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 4rem;
    min-width: 100vw;
    padding: 7rem 9%;
}

.home-img img{
    position: relative;
    width:30vw;
    border-radius: 40%;
}

.home-content{
    line-height: 1.5;
}
.home-content h1{
    font-size:4.5rem;
    font-weight:600;
}
span{
    color: var(--gold);
    font-size: 5rem;
}
.home-content h3{
    font-size: 4.5rem;
    font-weight: 500;
}
.home-content p{
    font-size:2.5rem;
    font-weight: 400;
}

.socials a{
    display: inline-flex;
    border-radius: 50%;
    gap:2rem;
}
.socials a:hover{
    transform: scale(1.4);
}
.socials img{
    margin-top: 2rem;
    width: 4rem;
    border-radius: 40%;
}

button{
    margin-top: 2rem;
    padding: 1rem 3rem;
    color: var(--gold);
    border: 1px solid var(--gold);
    border-radius: 4rem;
    border-color: var(--gold);
    background-color: black;
    letter-spacing: 10px;
    font-weight: 500;
}
button:hover{
    transform: scale(1.1)
}