:root{
    --clr1: white;
    --clr2: grey;
    --gold: #ffcc00;
    --yellow: #ffeb3b;
    --grad0: black;
    --grad40: #241c00;
    --grad100: #332a00;
}

.home{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 4rem;
    min-width: 100vw;
    padding: 7rem 9%;
}

.home-img img{
    position: relative;
    width:30vw;
    border-radius: 40%;
    border: 2px solid var(--grad40);
}

.home-content{
    line-height: 1.5;
}
.home-content h1{
    font-size:4.5rem;
    font-weight:600;
}
h1 span{
    color: var(--gold);
    font-size: 5rem;
}
.home-content h3{
    font-size: 4rem;
    font-weight: 500;
    display: flex;
}
.home-content p{
    margin-top:1rem;
    font-size:2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.socials a{
    display: inline-flex;
    border-radius: 50%;
    gap:2rem;
}
.socials a:hover{
    transform: scale(1.4);
}
.socials img{
    margin-top: 2rem;
    width: 4rem;
    border-radius: 40%;
}

a.button{
    margin-top: 2rem;
    padding: 1rem 3rem;
    color: var(--gold);
    border: 0.1rem solid var(--gold);
    border-radius: 4rem;
    border-color: var(--gold);
    background-color: black;
    letter-spacing: 0.7rem;
    font-size:1.5rem;
    font-weight: 500;
}
a.button:hover{
    box-shadow: 0 0 10px var(--yellow);
}

.whatAmI span{
    position: relative;
    margin-left: 1rem;
    font-weight: 500;
    border-bottom: 3px dashed var(--gold);
    
}
.whatAmI span::before{
    content:"Software Developer";
    color:var(--gold);
    animation: words 12s infinite;
}
.whatAmI span::after {
    content: "";
    position: absolute;
    inset:-8px;
    border-right: 3px solid var(--gold);
    animation: blink 0.9s infinite;
}

@keyframes words{
    0%,25%{
        content:"Frontend Designer";
    }
    26%,50%{
        content:"AI Engineer";
    }
    51%,75%{
        content:"Software Developer";
    }
    76%,100%{
        content:"Deep Learning Engineer";
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}

@media (max-width: 900px){
    .home{
        flex-direction: column;
        padding: 5rem 5%;
        gap: 2rem;
        text-align: center;
    }

    .home-img img{
        width: 60vw;
        max-width: 250px;
    }

    .home-content h1{
        font-size: 2.5rem;
    }
    
    h1 span{
        font-size: 3rem;
        display: block;
    }

    .home-content h3{
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .home-content p{
        font-size: 1.2rem;
        text-align: justify;
    }

    .whatAmI span{
        margin-left: 0;
    }

    .socials{
        display: flex;
        justify-content: center;
    }

    a.button{
        font-size: 1.2rem;
        padding: 0.8rem 2rem;
    }
}