:root{
    --clr1: white;
    --gold: #ffcc00;
    --yellow: #ffeb3b;
    --grad0: black;
    --grad40: #241c00;
    --grad100: #332a00;
}

.home{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 4rem;
    min-width: 100vw;
    padding: 7rem 9%;
}

.home-img img{
    position: relative;
    width:30vw;
    border-radius: 40%;
}

.home-content{
    line-height: 1.5;
}
.home-content h1{
    font-size:4.5rem;
    font-weight:600;
}
span{
    color: var(--gold);
    font-size: 5rem;
}
.home-content h3{
    font-size: 4rem;
    font-weight: 500;
}
.home-content p{
    margin-top:1rem;
    font-size:2rem;
    font-weight: 400;
}

.socials a{
    display: inline-flex;
    border-radius: 50%;
    gap:2rem;
}
.socials a:hover{
    transform: scale(1.4);
}
.socials img{
    margin-top: 2rem;
    width: 4rem;
    border-radius: 40%;
}

button{
    margin-top: 2rem;
    padding: 1rem 3rem;
    color: var(--gold);
    border: 0.1rem solid var(--gold);
    border-radius: 4rem;
    border-color: var(--gold);
    background-color: black;
    letter-spacing: 1rem;
    font-weight: 500;
}
button:hover{
    transform: scale(1.1)
}